* {box-sizing: border-box;}
.tampil {
    background-color: blue;
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px green,1px 1px 10px black;
    margin-top: 50%;
    position: fixed;
    left: 40%;
    bottom: 0;
}

.display {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    width: 100%;
    margin-bottom: 100px;
}
.tulisan {
    text-align: center;
    font-weight: bold;
}

#tombol {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-top: 20px;
    font-weight: bold;
    background-color: silver;
}
#tombol:active {
    background-color: lightpink;
}

.reset {
    padding: 5px 10px;
    font-weight: bolder;
    background-color: silver;
}
.reset:active {
    background-color: yellow;
}