body {
    background-color: #deebff;
    animation-name: faiz;
    animation-duration: 4s;
    animation-delay:4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

h1 {font-weight: bolder;color: white;text-shadow: -1px 0 20px white;}
.matahari {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: -1px 0 10px white,0 0 20px white,0 1px 30px white,1px 1px 40px white,0 0 50px white;
}

.bulan {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #393938;
    filter: blur(2px);
    position: absolute;
    left: 5px;
    top: 200px;
    animation-name: bulan;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.tulisan {
    position: absolute;
    top: 150px;
    left: 100px;
    color: #deebff;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: -1px 0 20px #deebff;
    z-index: -1;
    padding: 0;
}
.gambar {
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 0;
    animation-name: gambar;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    filter: grayscale(50%);
}
img {
    max-width: 100%;
}
/*bikin animatasi terang ke gelap*/
@keyframes faiz {
    from {background-color: #deebff;}
    to {background-color: #393938;}
}
@keyframes bulan {
    from {top: 200px;}
    to {top: 5px;}
}
@keyframes gambar {
    from {opacity: 1}
    to {opacity: 0.1}
}

@media only screen and (min-width:1000px) {
    .gambar {bottom: -500px}
    .tulisan {font-size: 50px;z-index: 1;left: 200px;top: 100px}
}