body {background-color: black;}
* {box-sizing: border-box;}
h1,p {color: white;}
.gambar {
	width: 10%;
	height: 100px;
	background-color: blue;
	position: relative;
	margin-bottom: 10px;
	animation-name: faiz;
	border-radius: 20px;
	box-shadow: 0 0 20px white;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
@keyframes faiz {
	from {left: 0px;}
	to {left: 100%;}
}